NEXT_PUBLIC_SITE_URL=""

# Supabase
SUPABASE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_JWT_SECRET=""

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Prisma
SUPABASE_POSTGRES_PRISMA_URL=""
SUPABASE_POSTGRES_PRISMA_DIRECT_URL=""

# SMTP
SMTP_HOST="smtp.tem.scaleway.com"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER=""
SMTP_PASS=""

SMTP_FROM_EMAIL="noreply@mail.fare-asso.fr"


# Friendly Captcha
FRIENDLY_CAPTCHA_API_KEY=""
NEXT_PUBLIC_FRIENDLY_CAPTCHA_SITE_KEY=""
