VITE_SITE_URL=""

# Supabase
SUPABASE_SERVICE_ROLE_KEY=""

VITE_SUPABASE_URL=""
VITE_SUPABASE_ANON_KEY=""

# Prisma
SUPABASE_POSTGRES_PRISMA_URL=""
SUPABASE_POSTGRES_PRISMA_DIRECT_URL=""

# SMTP
SMTP_HOST="smtp.tem.scaleway.com"
SMTP_PORT="465"
SMTP_SECURE="true"
SMTP_USER=""
SMTP_PASS=""

SMTP_FROM_EMAIL="noreply@mail.fare-asso.fr"

# Supabase Google Auth secret
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=""

# Friendly Captcha
FRIENDLY_CAPTCHA_API_KEY=""
VITE_FRIENDLY_CAPTCHA_SITE_KEY=""

# Sentry DSN
VITE_SENTRY_DSN="https://example.ingest.de.sentry.io/value"
SENTRY_DSN="https://example.ingest.de.sentry.io/value"

# Sentry sourcemap upload (optional, build time)
SENTRY_AUTH_TOKEN=""
