/* styles.css */
.ProseMirror {
    outline: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    max-width: 100%;
}

.ProseMirror p {
    margin: 0;
    padding: 0;
}

/* Assurez-vous que les images ne débordent pas */
.ProseMirror img {
    max-width: 100%;
    height: auto;
}

/* Gestion des tables */
.ProseMirror table {
    width: 100%;
    overflow-x: auto;
    display: block;
}

/* Pour les blocs de code */
.ProseMirror pre {
    overflow-x: auto;
    white-space: pre;
    max-width: 100%;
}

.ProseMirror-selectednode {
    outline: 3px solid rgba(0, 0, 0, 0.75);
}

.tiptap a {
    color: #007bff;
    text-decoration: underline;
}

.tiptap ul {
    list-style-type: disc;
    padding-left: 1em;
}

.tiptap ol {
    list-style-type: decimal;
    padding-left: 1em;
}

.ProseMirror img {
    max-width: 50%;
    height: auto;
}
